.center {
    width: 1190px;
    margin: 0 auto;
}
a:hover {
    color: #f10215;
}


/* 头部 banner B */
.top {
    width: 100%;
    height: 80px;
    background-color: #000;
}
.top .top_c {
    height: 80px;
    position: relative;
}
.top .top_c .img {
    display: block;
    height: 80px;
    background: url(../images/top_ban.png);
}
.top .top_c .jiaocha {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
}
.top .top_c .jiaocha:hover {
    background-color: #666;
    color: #ccc;
}
/* 头部 banner E */
/* nav B */
.nav {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #DDD;
    background-color: #E3E4E5;
}
.nav .nav_c {
    height: 30px;
}
.nav .nav_c .nav_l {
    line-height: 30px;
}
.nav .nav_l span {
    display: inline-block;
    width: 57px;
    height: 30px;
    text-align: center;
    margin-left: 200px;
}
.nav .nav_l .location {
    color: red;
}
.nav .nav_l span:hover {
    background-color: #fff;
}
.nav .nav_n li {
    float: left;
}
.nav .nav_n .word {
    line-height: 30px;
    height: 30px;
    padding: 0 5px;
}
.nav .nav_n .line {
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 11px 5px 0px;
}
.nav .nav_n .word i {
    font-size: 12px;
}
.nav .nav_n .word a:hover {
    color: #F10215;
}
.nav .nav_n .erweima {
    position: relative;
}
.nav .nav_n .erweima:after {
    content: '';
    height: 0;
    width: 0;
    line-height: 0;
    border-style: solid;
    border-width: 5px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -5px;
}
.nav .nav_n .erweima span {
    width: 60px;
    height: 60px;
    background: url(../images/erweima.jpg) no-repeat center center;
    padding: 3px;
    position: absolute;
    bottom: -68px;
    left: 0;
    border: 1px solid #cfcfcf;
}
/* nav E */
/* logo B */
.logo {
    height: 140px;
    position: relative;
}
.logo .l_img {
    width: 190px;
    height: 170px;
    position: absolute;
    top: -31px;
    left: 0;
    box-shadow: 0px 0px 9px #888888;
}
.logo .l_img a {
    display: inline-block;
    width: 190px;
    height: 170px;
    background-color: #fff;
}
.logo .l_search {
    height: 60px;
    position: relative;
}
.logo .l_search .form {
    width: 550px;
    height: 35px;
    position: absolute;
    bottom: 0;
    left: 320px;
}
.logo .l_search input[type="text"] {
    width: 493px;
    height: 33px;
    border: 1px solid #F10215;
    padding-left: 5px;
}
.logo .l_search button {
    width: 50px;
    height: 35px;
    background-color: #F10215;
    border: none;
    color: #fff;
    font-weight: 700;
}
.logo .l_car {
    width: 188px;
    height: 33px;
    border: 1px solid #E3E4E5;
    position: absolute;
    top: 25px;
    right: 100px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
    color: #f10215;
}
.logo .l_car .l_car_0 {
    width: 16px;
    height: 16px;
    background-color: #f10215;
    position: absolute;
    top: 5px;
    right: 30px;
    line-height: 16px;
    color: #fff;
    border-radius: 8px;
}
.logo .l_word {
    width: 550px;
    height: 20px;
    position: absolute;
    top: 65px;
    left: 320px;
}
.logo .l_word a {
    margin-right: 10px;
}
.logo .l_nav {
    width: 790px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 200px;
    font: normal 700 16px/40px "微软雅黑"
}
.logo .l_nav li {
    margin-left: 30px;
}
.logo .l_nav li a:hover {
    color: #f10215;
}

.logo .l_nav ul,.logo .l_nav li,.logo .l_nav div {
    float: left;
}
.logo .l_nav .line {
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 15px -10px 0 20px;
}
.logo .l_ad {
    width: 190px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 0;
}
/* logo E */

/* main B */
.main {
    width: 100%;
    position: relative;
}
.main .main_c {
    position: relative;
    z-index: 1;
}
.main .main_c .m_c_l {
    width: 190px;
    height: 480px;
    background-color: #6E6568;
}
.main .m_c_l ul {
    width: 190px;
    height: 450px;
    padding: 15px 0px;
    color: #fff;
    font-size: 14px;
}
.main .m_c_l li {
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
}
.main .m_c_l li:hover {
    background-color: #999395;
}
.main .m_c_l li a:hover {
    color: #f10215;
}
.main .m_c_l ul a {
    color: #fff;
}
.main .main_c .m_c_m {
    width: 790px;
    height: 480px;
    margin: 0 10px;
}
.main .m_c_m .m_m_ban {
    width: 790px;
    height: 340px;
    position: relative;
}
.main .m_c_m .m_m_ban .m_m_img {
    display: inline-block;
    width: 790px;
    height: 340px;
}
.main .m_m_ban .arLeft,.main .m_m_ban .arRight {
    width: 30px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    line-height: 60px;
    text-align: center;
    font-size: 20px;
}
.main .m_m_ban .arLeft {
    left: 0;
}
.main .m_m_ban .arRight {
    right: 0;
}
.main .m_m_ban .arLeft:hover,.main .m_m_ban .arRight:hover {
    background-color: #000;
}
.main .m_m_ban ul {
    padding: 4px 0px 2px 10px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 9px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -93px;
}
.main .m_m_ban li {
    float: left;
}
.main .m_m_ban li a {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 6px;
    margin-right: 10px;
}
.main .m_m_ban li a:hover {
    background-color: #f10215;
}
.main .m_c_m .m_m_b {
    margin-top: 10px;
    width: 790px;
    height: 130px;
}
.main .m_m_b .m_b_l ,.main .m_m_b .m_b_r {
    width: 390px;
    height: 130px;

}
.main .m_m_b .m_b_l a,.main .m_m_b .m_b_l a {
    display: inline-block;
    width: 390px;
    height: 130px;
}

.main .main_c .m_c_r {
    width: 190px;
    height: 480px;
}
.main .m_c_r .m_r_t {
    height: 113px;
    background-color: #fff;
}
.main .m_r_t .login {
    padding: 15px 0 0 15px;
}
.main .m_r_t .login .a1{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../images/sprite.png) no-repeat -70px 0;
}
.main .m_r_t .login .span1 {
    padding: 5px 0 0 5px;
    line-height: 20px;
}
.main .m_r_t .login img {
    width: 40px;
    border-radius: 20px;
    margin: 5px 0 0 5px;
}
.main .m_r_t .btn {
    margin-top: 10px;
    text-align: center;
}
.main .m_r_t .btn input {
    width: 74px;
    height: 24px;
    border: 2px solid #E01222;
    background: #fff;
    font-size: 12px;
    color:#E01222;
}
.main .m_r_t .btn input:hover {
    background-color: #E01222;
    color: #fff;
}
.main .m_c_r .m_r_m {
    width: 162px;
    height: 154px;
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 0px 15px 0 13px;
}
.main .m_r_m h5 {
    height: 26px;
    line-height: 26px;
    border-bottom: 1px solid #e6e6e6;
}
.main .m_r_m h5 span {
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #e6e6e6;
    margin: 6px 10px 0;
}
.main .m_r_m h5 a:hover {
    color: #666;
    border-bottom: 2px solid #DB192B;
}
.main .m_r_m ul {
    margin-top: 15px;
}
.main .m_r_m ul li {
    height: 25px;
    line-height: 25px;
}
.main .m_r_m li a {
    display: block;
    width: 162px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.main .m_r_b {
    width: 190px;
    height: 209px;
    background-color: #fff;
    overflow: hidden;
}
.main .m_r_b ul {
    width: 222px;
    height: 230px;
}
.main .m_r_b li {
    float: left;
    height: 69px;
    width: 47px;
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    text-align: center;
}
.main .m_r_b li i {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/spritew_m_r_b.png) no-repeat -1px -88px;
    margin: 15px 11px 0 12px;
}
.main .active a {
    display: block;
    width: 100%;
    height: 480px;
    background: url(../images/a-bg.png) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
}
/* main E */

/* kill B */
.kill .k_t {
    height: 54px;
    background: url(../images/kill.png);
    position: relative;
}
.kill .k_t .k_t_l {
    height: 54px;
    line-height: 54px;
}
.kill .k_t .k_a {
    width: 15px;
    height: 15px;
    background: url(../images/kill_arrow.png) no-repeat -197px -55px;
    position: absolute;
    top: 3px;
    left: 3px;
}
.kill .k_t .time {
    display: inline-block;
    width: 33px;
    height: 39px;
    background: url(../images/kill_arrow.png) no-repeat 0 -40px;
    margin-left: 30px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -4px;
}
.kill .k_t h5 {
    display: inline-block;
    font: normal 700 26px "simsun";
    color: #fff;
}
.kill .k_t a {
    font: normal 700 12px "simsun";
    color: #fff;
}
.kill .k_t .i {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/kill_arrow.png) no-repeat -154px -40px;
    vertical-align: middle;
    margin-top: -2px;
}
.kill .k_t_r {
    margin-right: 30px;
}
.kill .k_t_r span {
    color: #fff;
    font-size: 14px;
    /*line-height: 54px;*/
    margin-top: 24px;
}
.kill .k_t_r ul {
    margin: 0 5px;
}
.kill .k_t_r li {
    float: left;
}

.kill .k_t_r .num {
    width: 35px;
    height: 35px;
    background-color: #440106;
    text-align: center;
    color: #F9000E;
    font: normal 700 20px/35px simsun;
    margin-top: 10px;
    border-radius: 3px;
}
.kill .k_t_r .point {
    font: normal 700 20px/35px simsun;
    color: #440106;
    margin-top: 10px;
}
.kill .k_c {
    height: 250px;
    background-color: #fff;
}
.kill .k_c li {
    width: 199px;
    height: 250px;
    float: left;
}
.kill .k_c ul a {
    display: inline-block;
    width: 199px;
    height: 215px;
    text-align: center;
}
.kill .k_c ul a:hover img {
    margin-top: 17px;
    margin-bottom: 3px;
}
.kill .k_c ul a img {
    margin-top: 20px;
}
.kill .k_c ul a span {
    display: inline-block;
    width: 110px;
    height: 5px;
    background: url(../images/kill_arrow.png) no-repeat -36px -15px;
}
.kill .k_c ul a i {
    display: inline-block;
    width: 170px;
}
.kill .k_c ul span i {
    color: #F10A75;
    font-size: 18px;
    font-weight: 700;
    margin-left: 15px;
}
.kill .k_c .line {
    width: 1px;
    height: 230px;
    background-color: #E7E7E7;
    margin-top: 10px;
}
.kill .ad {
    width: 180px;
    height: 225px;
    margin: 10px 10px 0 0;
}
.kill .ad img{
    vertical-align: bottom;
    margin: 0;
}
    /* kill E */

/* foot B */
.foot {
    width: 100%;
    background-color: #EAEAEA;
}
.foot .f_t {
    width: 100%;
    height: 102px;
    border-bottom: 1px solid #DEDEDE;
}
.foot .f_t .f_t_c {
    height: 102px;
    overflow: hidden;
}
.foot .f_t .f_t_c ul {
    margin-top: 30px;
}
.foot .f_t .f_t_c li {
    float: left;
    width: 297px;
    height: 42px;
    text-align: center;
}
.foot .f_t .f_t_content h5, .foot .f_t .f_t_content p {
    float: left;
    height: 42px;
    line-height: 42px;
}
.foot .f_t .f_t_content {
    display: inline-block;
}
.foot .f_t .f_t_content p {
    font: normal 700 18px/42px "微软雅黑";
}
.foot .f_t .f_t_content h5 {
    width: 36px;
    background: url(../images/dkhs.png) no-repeat 0 0;
    margin-right: 10px;
    text-indent: -99999px;
}
.foot .f_m {
    height: 200px;
    border-bottom: 1px solid #DEDEDE;
}
.foot .f_m dl {
    float: left;
    width: 198px;
}
.foot .f_m dt {
    margin-top: 25px;
    margin-bottom: 5px;
    font: normal 700 14px "微软雅黑"
}
.foot .f_m dd {
    height: 22px;
    line-height: 22px;
}
.foot .f_m .map {
    width: 200px;
    height: 153px;
    background:url(../images/map.png);
    margin-top: 25px;
}
.foot .f_m .map h5 {
    font: normal 700 14px "微软雅黑";
    text-align: center;
    margin-bottom: 20px;
}
.foot .f_m .map p {
    width: 175px;
    padding: 0 15px 0 10px;
}
.foot .f_b {
    height: 296px;
    text-align: center;
}
.foot .f_b .p1{
    margin-top: 20px;
    margin-bottom: 15px;
}
.foot .f_b span {
    margin: 0 5px;
}
.foot .f_b .p3 {
    margin-top: 5px;
}
.foot .f_b .p_img {
    margin-top: 20px;
}
.foot .f_b .p_img a {
    display: inline-block;
    width: 103px;
    height: 32px;
    background: url(../images/map.png) no-repeat 0 -153px;
}
/* foot E */
/* huodong B */
.huodong {
    width: 1334px;
    height: 95px;
    background: url(../images/houdong.png);
    /*margin: 0 auto;/!*可以设置元素有父容器中水平居中，但是只能与块级元素一起使用*!/*/
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -667px;
    z-index: 100;
}
.huodong .hd_img {
    width: 415px;
    height: 52px;
    background: url(../images/hd_word.png);
    position: absolute;
    top: 18px;
    left: 130px;
}
.huodong a {
    position: absolute;
    top: 28px;
    left: 50%;
}
.huodong .a1 {
    margin-left: -60px;
}
.huodong .a2 {
    margin-left: 70px;
}
.huodong .a3 {
    margin-left: 200px;
}
.huodong .a4 {
    margin-left: 330px;
}
.huodong .a5 {
    margin-left: 460px;
}
/* huodong E */

































